// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
/* devanagari */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url(~assets/fonts/Montserrat/Montserrat-Light.eot); /*IE*/
  src: local('Montserrat Light'), local('Montserrat-Light'), url(~assets/fonts/Montserrat/Montserrat-Light.ttf);
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url(~assets/fonts/Montserrat/Montserrat-Light.eot); /*IE*/
  src: local('Montserrat Light'), local('Montserrat-Light'), url(~assets/fonts/Montserrat/Montserrat-Light.ttf);
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url(~assets/fonts/Montserrat/Montserrat-Light.eot);
  src: local('Montserrat Light'), local('Montserrat-Light'), url(~assets/fonts/Montserrat/Montserrat-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* devanagari */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(~assets/fonts/Montserrat/Montserrat-Regular.eot);
  src: local('Montserrat'), local('Montserrat-Regular'), url(~assets/fonts/Montserrat/Montserrat-Regular.ttf);
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(~assets/fonts/Montserrat/Montserrat-Regular.eot);
  src: local('Montserrat'), local('Montserrat-Regular'), url(~assets/fonts/Montserrat/Montserrat-Regular.ttf);
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(~assets/fonts/Montserrat/Montserrat-Regular.eot);
  src: local('Montserrat'), local('Montserrat-Regular'), url(~assets/fonts/Montserrat/Montserrat-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* devanagari */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url(~assets/fonts/Montserrat/Montserrat-Bold.eot);
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(~assets/fonts/Montserrat/Montserrat-Bold.ttf);
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url(~assets/fonts/Montserrat/Montserrat-Bold.eot);
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(~assets/fonts/Montserrat/Montserrat-Bold.ttf);
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url(~assets/fonts/Montserrat/Montserrat-Bold.eot);
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(~assets/fonts/Montserrat/Montserrat-Bold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$body-font-family: 'Montserrat';
$stepper-header-elevation: 0;

form.v-form {
  .required label.v-label::after {
    content: '*';
    color: #FA3031;
    padding-left: 1px;
  }
  .uppercase input {
    text-transform: uppercase;
  }
}

@import '~vuetify/src/styles/styles.sass';
